/3.jpg
/3.png
/Cho_PaletteNet_Image_Recolorization_CVPR_2017_paper (1).pdf
/Data
/PaletteNetMaynkFinal
/__pycache__
/geeks.jpg
/image_colorization
/image_colorization_part_1
/logger.py
/logname.txt
/template (1).zip
/tester.jpg
/visualize_color_palette.ipynb
/visualize_color_palette.py